<footer class="main-footer">
  <div class="float-right hidden-xs">
    Version 1.0
  </div>

  <strong>Copyright &copy; <%= Time.now.year %> <%= link_to 'We Call Leads', root_path %>.</strong> All rights reserved.
</footer>
