<header class="main-header">
  <nav class="navbar navbar-expand navbar-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <%#= render 'shared/admin/messages' %>
      <%#= render 'shared/admin/notifications' %>
      <%#= render 'shared/admin/tasks' %>

      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-spinner fa-lg fa-pulse fa-fw loading-indicator nav-link"></i></a>
      </li>
      <li class="nav-item dropdown user user-menu">
        <a href="#" class="nav-link" data-toggle="dropdown">
          <%#= image_tag current_user.avatar.url(:square_200_200), class: 'user-image', alt: current_user.full_name %>
          <span class="hidden-xs">Shoaib Rafi</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <li class="user-header">
            <%#= image_tag current_user.avatar.url(:square_200_200), class: 'img-circle', alt: current_user.full_name %>
            <p>
              <%#= current_user.full_name %>
              <small>Member since <%#= current_user.created_at.strftime('%b. %Y') %></small>
            </p>
          </li>
          <%#= render 'shared/admin/user_body' %>
          <li class="user-footer">
            <div class="float-left">
              <a href="#">Profile</a>
            </div>

            <div class="float-right">
              <a href="#">Sign out</a>
              <%#= link_to 'Sign out', logout_path, class: 'btn btn-default btn-flat' %>
            </div>
          </li>
        </ul>
      </li>
      <%#= render 'shared/admin/side_bar_toggle' %>
    </ul>
  </nav>
</header>